@import "../../assets/styles/variables";

.pagination {
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 35px;
      line-height: 33px;
      height: 35px;
      border: 1px solid $pagination-border-color;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: $pagination-font-color;

      &:hover {
        background-color: $pagination-background-color-active;
        color: $pagination-font-color-active;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: $pagination-background-color-active;
        color: $pagination-font-color-active;
      }
    }
  }
}
